<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login_sty.css">
    <title>Login</title>
</head>
<body>
      <nav class="navbar">
       <a href="/"><img class="logo" src="static/img/logo.svg" alt="logo"></a>
        <div class="nav-buttons">
            <a href="/login" class="login">Login</a>
            <a href="/register" class="register">Register</a>
        </div>
      </nav>

    <div class="container">
        <form class="form" method="post">
            <input type="hidden" name="query" value="login">
            <p class="title">Login </p>
            <p class="message">Login now and get full access to our app. </p>
            <p class="err">{{.ErrorType}}</p>
            <label>
                <input required="" placeholder="Email" name="email" type="email" class="input">
            </label> 
                
            <label>
                <input required="" placeholder="Password" name="password" type="password" class="input">
            </label>
        
            <button class="submit">Submit</button>
            <p class="signin">Don't have an acount ? <a href="/register">Sign up</a> Or Log in as a <a href="/Guest">Guest</a></p>
        </form>
    </div>

</body>
</html>