<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/profile_sty.css">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <a href="/"><img class="logo" src="static/img/logo.svg" alt="logo"></a>
    </nav>

    <div class="container">
        <p class="title">Profile</p>
        <p class="message">Welcome {{.User.Username}}!</p>
        
        <div class="user-info">
            <h2>User Information</h2>
            <p><strong>Full Name:</strong> {{.User.Fullname}}</p>
            <p><strong>Email:</strong> {{.User.Email}}</p>
            <p><strong>Created At:</strong> {{.User.Created_at}}</p>
        </div>
    </div>

</body>
</html>