<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/register_sty.css">
    <title>Register</title>
</head>

<body>
  <nav class="navbar">
    <a href="/"><img class="logo" src="static/img/logo.svg" alt="logo"></a>
    <div class="nav-buttons">
        <a href="/login" class="login">Login</a>
        <a href="/register" class="register">Register</a>
    </div>
  </nav>

    <div class="container">
        <form method="POST" action="/register" class="form">
          <input type="hidden" name="query" value="reg">
            <p class="title">Register </p>
            <p class="message">Signup now and get full access to our app. </p>
            <p class="err">{{.ErrorType}}</p>
            <div class="flex">
                <label>
                    <input required="" placeholder="" name="username" type="text" class="input">
                    <span>Username</span>
                </label>
        
                <label>
                    <input required="" placeholder="" name="fullname" type="text" class="input">
                    <span>Fullname</span>
                </label>
            </div>  
                    
            <label>
                <input required="" placeholder="" name="email" type="email" class="input">
                <span>Email</span>
            </label> 
                
            <label>
                <input id="password" name="password" required="" placeholder="" type="password" class="input">
                <span>Password</span>
            </label>
            <label>
                <input id="confirm-password" required="" placeholder="" type="password" class="input">
                <span>Confirm password</span>
            </label>
            <button function="validatePassword()" class="submit">Submit</button>
            <p class="signin">Already have an acount ? <a href="/login">Sign in</a> </p>
        </form>
    </div>
      <script>
        let password = document.getElementById("password");
        let confirmPassword = document.getElementById("confirm-password")

        function validatePassword() {
          if (password.value != confirmPassword.value) {
            confirmPassword.setCustomValidity("passwords don't match");
          } else {
            confirmPassword.setCustomValidity('');
          }
        }
        password.onchange = validatePassword;
        confirmPassword.onkeyup = validatePassword; 
      </script>
</body>
</html>